body {
    /* background-color: aquamarine; */
}

#app {
    width : 100vw;
    height : 100vh;
    
    position: relative;
}
.new-aside {
    max-width : 14rem
}
.content-custom {
    width : calc(100vw - 14rem);
    position : absolute;
    right: 0px;
    
}

.equip-content, .create-container {
    margin-top : 3rem;
    width: 100%;
}
@media screen and (min-width : 1024px) {
    #sidebar {
        display: block;
        width: 200px;
    }
}