body {
    /* background-color: aquamarine; */
}

#app {
    width : 100vw;
    height : 100vh;
    /* background-color : #f1f1f1 */
    position: relative;
}
.new-aside {
    max-width : 14rem
}
.content-custom {
    width : calc(100vw - 16rem);
    position : absolute;
    right: 0px;
    /* outline: 2px solid red; */
}

.equip-content {
    margin-top : 3rem;
    width: 100%;
}
@media screen and (min-width : 1024px) {
    #sidebar {
        display: block;
    }
}